@model vimmvc.ViewModels.CreateMusicScoreViewModel
@{
    ViewData["Title"] = "MusicScore";
    Layout = "_GlobalAdminLayout";
    var musicScores = ViewBag.MusicScore as List<Core.Entities.MusicScore>;
    var count = 1;
}
<style>
    .form {
        /*height: 520px;*/
        width: 100%;
        /*background-color: rgba(255,255,255,0.13);*/
        background-color: white;
        /*position: absolute;*/
        /*transform: translate(-50%,-50%);*/
        /*top: 50%;*/
        /*left: 50%;*/
        border-radius: 10px;
        /*backdrop-filter: blur(10px);*/
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }

        .form * {
            font-family: 'Poppins',sans-serif;
            color: rgb(8,7,16);
            letter-spacing: 0.5px;
            outline: none;
            /*border: none;*/
        }

        .form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
            color: rgb(8,7,16);
        }

    .label {
        display: block;
        margin-top: 8px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(8,7,16);
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 2px;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid rgb(8,7,16);
    }

    ::placeholder {
        color: #080710;
    }
</style>
<div>
    <div class="d-flex pt-1 pb-1">
        <button style="background-color: var(--main-color); color:whitesmoke;" type="button" class="btn" data-toggle="modal" data-target="#exampleModal">Create new music score</button>
    </div>


    <form asp-action="CreateNewScore" asp-controller="Shop">
        <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body form">
                        <div class="modal-header">
                            <h5 class="modal-title">Add score here </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Title">Title:</label>
                            <input type=" text" asp-for="@Model.Title" placeholder="Enter Music Title" />
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Author">Author:</label>
                            <input type="text" asp-for="@Model.Author" placeholder="Enter transcriber name" />
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.Difficulty">Difficulty:</label>
                            <select asp-for="@Model.Difficulty">
                                <option>None</option>
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.Price">Price:</label>
                            <input type="number" asp-for="@Model.Price" placeholder="0.00" />
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.DownloadString">Download Link:</label>
                            <input type="text" asp-for="@Model.DownloadString" />
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.Instrument">Instrument Category:</label>
                            <select asp-for="@Model.Instrument">
                                <option>Multi-Instrument</option>
                                <option>Piano</option>
                                <option>Guitar</option>
                                <option>Violin</option>
                                <option>Drums</option>
                                <option>Bass</option>
                                <option>Vocal</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button style="background: #E7AB3C !important; border: none;" type="submit" class="btn btn-primary">Save changes</button>
                            <button style="background: darkred; border: none;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <form enctype="multipart/form-data" asp-action="" asp-controller="Shop">
        <div id="exampleModal1" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body form">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Score</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Title">Title:</label>
                            <input type="text" asp-for="@Model.Title" placeholder="Enter Music Title" />
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Author">Author:</label>
                            <input type="text" asp-for="@Model.Author" placeholder="Enter transcriber name" />
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.Difficulty">Difficulty:</label>
                            <select asp-for="@Model.Difficulty">
                                <option>None</option>
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.Price">Price:</label>
                            <input type="number" asp-for="@Model.Price" placeholder="0.00" />
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.DownloadString">Download Link:</label>
                            <input type="Number" asp-for="@Model.DownloadString"/>
                        </div>

                        <div class="form-group">
                            <label class="label" asp-for="@Model.Instrument">Instrument Category:</label>
                            <select asp-for="@Model.Instrument">
                                <option>Multi-Instrument</option>
                                <option>Piano</option>
                                <option>Guitar</option>
                                <option>Violin</option>
                                <option>Drums</option>
                                <option>Bass</option>
                                <option>Vocal</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button style="background: #E7AB3C !important; border: none;" type="submit" class="btn btn-primary">Save changes</button>
                            <button style="background: darkred; border: none;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>




    @if (Model != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("Added New Score: " + @($"{Model.Title}"));
            });
        </script>
    }


    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Difficulty</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in musicScores)
                {
                    <tr>
                        <td>@(count++)</td>
                        <td id="productname">@score.Title</td>
                        <td id="productprice">@score.Author</td>
                        <td id="productquantity">@score.Difficulty</td>
                        <td id="productmin">$@(String.Format("{0:0.##}",score.Price))</td>
                        <td>
                            <a asp-action="RemoveScore" asp-controller="Shop" asp-route-id="@score.Id" style="border: 1px solid darkred; padding:5px; border-radius:3px; cursor: pointer" title="Delete product"><i style="color: darkred" class="fa fa-trash"></i></a>
                            <a asp-route-id="@score.Id"
                               style="border: 1px solid forestgreen; border-radius:3px; cursor: pointer; padding:5px;"
                               title="Edit product"
                               onclick="populate"
                               data-toggle="modal" data-target="#exampleModal1"><i style="color: forestgreen" class="fa fa-edit"></i></a>
                            <a id="hot" asp-action="AddProductToCategoryIndex" asp-controller="Product" asp-route-id="@score.Id" style="border: 1px solid purple; border-radius:3px; cursor: pointer; padding:5px;" title="view staff"><i style="color: cadetblue" class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <script src="~/js/product.js"></script>

    @* <script>
    $(document).ready(function() {
    $('.custom-file-input').on("change", function() {
    var filename = $(this).val().split("\\").pop();
    $(this).next('.custom-file-label').html(filename);
    });
    });
    </script>*@

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
    </script>
</div>
