@{
    var music = ViewBag.SheetMusic as List<Core.Entities.MusicScore>;
    Layout = "_NewLayout";
}

<div class="container" style="margin-top: 8rem; margin-bottom: 4rem;">
    <div">
        <h3 class="h3" style="text-align: center; margin-bottom: 2rem;">Music Scores</h3>
    </div>
    <div class="row g-4 justify-content-center">
        @foreach (var score in music)
        {
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$@score.Price.ToString("N2")</div>
                        <h5 class="mb-3">@score.Title</h5>
                        @*<p>@course.Description</p>*@
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>@score.Difficulty</li>
                            <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>By :@score.Author</li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="@score.ImageUrl" alt="Course Image">
                        <div class="courses-overlay">
                            @*<a class="btn btn-outline-primary border-2" asp-action="CourseDetails" asp-controller="Courses" asp-route-id="@score.Id">Buy Now</a>*@
                            <a class="btn btn-outline-primary border-2" href="@score.DownloadString">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
   

