@{
    ViewData["Title"] = "StudentDashboard";
    Layout = "_NewLayout";
    var courses = ViewBag.MyCourses;
}

<style>
    .heading{
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .heading::after{
        content: "";
        width: 20px;
        height: 5px;
        background: #1d7874;
    }

    .course-list-section{
        padding: 10px;
        /* height: 100%; */
        overflow: scroll;
        margin-top: 120px;
    }

    .course-list-card{
        height: 80px;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }

    .course-list-card .course-image{
        height: 70px;
        width: 70px;
        background: #1d7874;
    }

    @@media (min-width: 768px){

        .course-list-section {
            padding: 10px;
            display: flex;
            justify-content: center;
            gap: 20px;
            height: 100%;
            overflow: scroll;
        }

        .course-list-card {
            height: 150px;
            width: 40%;
            display: flex;
        }

        .course-list-card .course-image {
            height: 120px;
            width: 120px;
            background: #1d7874;
        }
    }
</style>
@* <h5 class="heading" style="text-align: center; margin-top: 50px;">My Courses</h5> *@

<div class="course-list-section">
    @if(courses.Count == 0)
    {
        <p style="text-align: center">You haven't registered any course yet</p>
    }
    else
    {
        <ul class="departments-list">

            @foreach (var course in courses)
            {
                <li>
                    <div class="departments-card">

                        <a asp-action="Watch" asp-controller="Tutorials" asp-route-courseId="@course.Course.Id" class="card-banner">
                            <figure>
                                <img src="@course.Course.ImageUrl" alt="jazz">
                            </figure>
                        </a>

                        <a href="#">
                            <h3 class="h3 card-title">@course.Course.Name</h3>
                        </a>

                        <p class="card-text">
                            @course.Course.Description
                        </p>

                        <a asp-action="Watch" asp-controller="Tutorials" asp-route-courseId="@course.Course.Id" class="card-link">
                            <span>Continue Learning</span>

                            <ion-icon name="arrow-forward"></ion-icon>
                        </a>

                    </div>
                </li>
            }
        </ul>
    }     

      
</div>