@{
    var courses = ViewBag.Courses as List<Core.Entities.Course>;
    Layout = "_NewLayout";
}

<body style="margin-top: 8rem">
    <div class="container">
        <div>
            <h6 class="h3" style="text-align: center; margin-bottom: 4rem;">Our Courses</h6>
            <h1 class="h3">Choose from a list of our paid courses.</h1>
        </div>
        <div>
            <ul class="departments-list">
                @foreach (var course in courses)
                {
                    <li>
                        <div class="departments-card">

                                <a class="btn btn-outline-primary border-2" asp-action="Enrol" asp-controller="Courses" asp-route-courseId="@course.Id" class="card-banner">
                                <figure>
                                    <img src="@course.ImageUrl" alt="jazz">
                                </figure>
                            </a>

                            <a href="#">
                                    <h6 class="h3" style="color: teal; font-size: 1.5rem;">@course.Name - <span class="h3 card-title">₦@course.Price.ToString("N2")</span></h6>
                            </a>

                            <p class="card-text">
                                @course.Description
                            </p>

                                <a class="btn btn-outline-primary border-2" asp-action="Enrol" asp-controller="Courses" asp-route-courseId="@course.Id" class="card-link">
                                <span>Purchase</span>

                                <ion-icon name="arrow-forward"></ion-icon>
                            </a>

                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

</body>
